{
    "env": {
        "browser": false,
        "node": true,
        "commonjs": true,
        "es6": true
    },
    "extends": [
        "airbnb-base"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "rules": {
        "no-console": "off",
        "new-cap": "off",
        "no-control-regex": "off",
        "camelcase": "off",
        "no-nested-ternary": "off",
        "no-useless-catch": "off",
        "no-useless-escape": "off"
    }
}