node_modules
property_local.js
.DS_Store
.vscode
.eslintrc.js
.env
manifest.json
schema.sql
cw_origin_usage_metric_to_redshift.js
tvaug_metadata_manual_match_automation.js
execute.sh
tvaug_metadata_match_weekly_snapshot_parallel.js