aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
astroid==2.4.2
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.4
beautifulsoup4==4.9.3
blessings==1.7
boto3==1.14.48
botocore==1.17.48
bs4==0.0.1
cachetools==4.1.1
casttube==0.2.1
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
colorama==0.4.4
colorful==0.5.4
docutils==0.15.2
filelock==3.0.12
fsspec==0.8.0
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-texttospeech==0.2.0
googleapis-common-protos==1.52.0
googlehomepush==0.1.0
gpustat==0.6.0
grpcio==1.33.2
gTTS==2.0.3
gTTS-token==1.1.4
hiredis==2.0.0
idna==2.10
ifaddr==0.1.7
isort==5.4.2
jmespath==0.10.0
jsonschema==3.2.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
modin==0.9.1
msgpack==1.0.2
multidict==5.1.0
numpy==1.19.1
nvidia-ml-py3==7.352.0
opencensus==0.7.13
opencensus-context==0.1.2
packaging==20.9
pandas==1.2.3
progress==1.5
prometheus-client==0.10.1
protobuf==3.14.0
psutil==5.8.0
psycopg2==2.8.5
py-spy==0.3.7
pyarrow==1.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyChromecast==7.5.1
pycodestyle==2.6.0
pylint==2.6.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.14.0
pytz==2020.1
PyYAML==5.4.1
ray==1.1.0
redis==3.5.3
requests==2.25.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
slack-sdk==3.0.0
soupsieve==2.0.1
toml==0.10.1
typing-extensions==3.10.0.0
urllib3==1.25.10
wrapt==1.12.1
yarl==1.6.3
zeroconf==0.28.6
